@{
    ViewData["Title"] = "Home Page";
}

<h3 class="page-title-3">Team Skills</h3>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                row 1
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            row 2 X col 1
        </div>
        <div class="col">
            row 2 X col 2
        </div>
        <div class="col">
            row 2 X col 3
        </div>
    </div>
</div>

